/* Styles for the course layout itself. */
.path-mod-response div.user-response,
.activity.modtype_response div.user-response {
    width: 99.9%;
    display: table;
    table-layout: fixed;
}

/* Hide the activity icon if displaying inline. */
.path-mod-response.displayresponseinline .activityicon[src*="R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"],
.modtype_response.displayresponseinline .activityicon[src*="R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"] {
    display: none;
}

.path-mod-response .card.response .card-footer:empty,
.modtype_response .card.response .card-footer:empty {
    display:none;
}

.path-mod-response .card.response .card-footer .form-group,
.modtype_response .card.response .card-footer .form-group {
    margin-bottom: 0;
}

.path-mod-response .displayresponseinline .activityinstance a, .path-mod-response .displayresponseinline .activityinstance a:hover,
.modtype_response .displayresponseinline .activityinstance a, .modtype_response .displayresponseinline .activityinstance a:hover {
    color: #373a3c;
    cursor: default;
    text-decoration: none;
}
.path-mod-response .user-response .mform > .form-group.fullwidtheditor,
.modtype_response .user-response .mform > .form-group.fullwidtheditor {
    margin-left: -15px;
}
.path-mod-response .user-response .fullwidtheditor .col-md-3,
.modtype_response .user-response .fullwidtheditor .col-md-3 {
    display: none;
}
.path-mod-response .user-response .fullwidtheditor .col-md-9,
.modtype_response .user-response .fullwidtheditor .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}
.path-mod-response .user-response .fullwidtheditor .col-md-9 > div,
.modtype_response .user-response .fullwidtheditor .col-md-9 > div {
    width: 100%;
}

/* Fixing the Atto editor */
.path-mod-response .user-response .fullwidtheditor.hasnotoolbar div.editor_atto_toolbar,
.modtype_response .user-response .fullwidtheditor.hasnotoolbar div.editor_atto_toolbar {
    padding: 0;
    border-bottom: none;
    min-height: 0;
}
.path-mod-response .user-response .editor_atto_content,
.modtype_response .user-response .editor_atto_content {
    resize: none;
    min-height: 200px !important;
    height: 200px !important;
}

/* Styles for the student completing the activity. */
.path-mod-response .response-activity .question,
.modtype_response .response-activity .question {
    margin-bottom: 20px;
}
.path-mod-response .user-response .fdescription.required,
.modtype_response .user-response .fdescription.required {
    display: none;
}
.path-mod-response .user-response .form-group .text-nowrap > abbr,
.modtype_response .user-response .form-group .text-nowrap > abbr {
    display: none;
}
.path-mod-response .card.response [data-groupname^=buttonar] .display-completion,
.modtype_response .card.response [data-groupname^=buttonar] .display-completion {
    display: inline-block;
    max-width: 75%;
}
.path-mod-response .card.response .display-completion .first-x,
    .card.response .display-completion .others,
    .card.response .display-completion .plus-x-others,
.modtype_response .card.response .display-completion .first-x,
    .card.response .display-completion .others,
    .card.response .display-completion .plus-x-others {
    display: inline;
}
.path-mod-response .card.response .display-completion .plus-x-others,
.modtype_response .card.response .display-completion .plus-x-others {
    padding-left: 5px;
    vertical-align:middle;
    font-size: 90%;
}
.path-mod-response .card.response .display-completion .plus-x-others .btn,
.modtype_response .card.response .display-completion .plus-x-others .btn {
    margin-left: 0;
    margin-right: 5px;
}
.path-mod-response .card.response .display-completion .btn.plus-x-other,
.modtype_response .card.response .display-completion .btn.plus-x-other {
    background: #999999;
    color: #fff;
    padding: 2px 7px;
    border-radius: 12px;
    font-size: 90%;
    line-height: 20px;
    font-weight:bold;
}
.path-mod-response .card.response .display-completion > .btn.plus-x-other,
.modtype_response .card.response .display-completion > .btn.plus-x-other {
    padding: 2px 8px;
    font-size: 81%;
}
.path-mod-response .card.response .display-completion .others.hide,
.modtype_response .card.response .display-completion .others.hide {
    display: none;
}
.path-mod-response .card.response .display-completion img,
.modtype_response .card.response .display-completion img {
    width: auto;
    height: 30px;
    margin-bottom: 4px;
}
.path-mod-response .mform > .form-group[data-groupname^=buttonar],
.modtype_response .mform > .form-group[data-groupname^=buttonar] {
    margin: 20px 0 0;
}
.path-mod-response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-3,
.modtype_response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-3 {
    display: none;
    flex: 0 0 0%;
}
.path-mod-response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-9,
.modtype_response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-9 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}
.path-mod-response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-9 .form-group:first-of-type,
.modtype_response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-9 .form-group:first-of-type {
    margin-left: auto;
}
.path-mod-response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-9 .form-group:last-of-type,
.modtype_response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-9 .form-group:last-of-type {
    margin-right: 0;
}
.path-mod-response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-9 .display-completion + .form-group,
.modtype_response .card.response .card-footer [data-groupname^=buttonar].femptylabel > .col-md-9 .display-completion + .form-group {
    margin-left: auto;
}


.path-mod-response .user-response.has-form .maximumwordsprompt,
.modtype_response .user-response.has-form .maximumwordsprompt {
    text-align: right;
    margin-bottom: 20px;
}

/* Styles for showing the answers to students. */
.path-mod-response .response .manage-links,
.modtype_response .response .manage-links {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 30px;
}
.path-mod-response .response .mod_response_postcompletion,
.modtype_response .response .mod_response_postcompletion {
    display: none;
}
.path-mod-response .card.response .card-footer .mod_response_postcompletion [data-groupname^="buttonar"] .fitemtitle,
.modtype_response .card.response .card-footer .mod_response_postcompletion [data-groupname^="buttonar"] .fitemtitle {
    width: 20px;
}
.path-mod-response .mod_response_postcompletion [data-groupname^="buttonar"] .fitemtitle,
.activity.modtype_response .mod_response_postcompletion [data-groupname^="buttonar"] .fitemtitle {
    display: none;
}
.path-mod-response .card.response .profiles img[data-id],
.modtype_response .card.response .profiles img[data-id] {
    cursor: pointer;
}
.path-mod-response .card.response button.hide,
.modtype_response .card.response button.hide {
    display: none;
}

/* Styles for the overall summary. */
.path-mod-response .activity-course .activity-title,
.modtype_response .activity-course .activity-title {
    clear: both;
    margin-top: 20px;
}

/* Styles for the teacher summary. */
#page-mod-response-viewall .usersearchdropdown {
    top: 100% !important;
    transform: none !important;
}

#page-mod-response-viewall .initialsdropdown {
    width: 460px;
}

.path-mod-response .view-all .view-all-response,
.modtype_response .view-all .view-all-response {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #ddd;
    margin-left: 5%;
    width: 90%;
}

/* Group selector adjustments */
#page-mod-response-view #selectgroup {
    gap: 0.5rem;
}

#page-mod-response-view #selectgroup label {
    margin-bottom: .15rem;
}
