{{< mod_response/response}}
{{$content}}
    <div class="user-response responsetype-text has-form" data-response="{{{response_id}}}">
        {{{form}}}
    </div>
{{/content}}
{{/ mod_response/response}}