{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template responsetype_poll/showsubmission

    The purpose of this template is to render the full view of an activity and its
    response from the user.

    Classes required for JS:
    * user-container

    Data attributes required for JS:
    * response_id

    Context variables required for this template:
    * profile_picture - HTML for a given user's profile picture
    * viewing_own - boolean as to whether a user is viewing a response that is theirs
    * profile_name - the name of the user whose response this is
    * user_response - response given by the user
    * user_response_time - the date/time the response was given
    * response_id - ID of the response activity
    * postcompletion - HTML for a form to show off the completions from other students

    Example context (json):
    {
        "profile_picture": "<img src=\"http://your.moodle.here/pluginfile.php/...\">",
        "viewing_own": true,
        "profile_name": "Joe",
        "user_response": "It's sunny outside, I like it like that.",
        "user_response_time": "01/10/17 13:28",
        "response_id": 2,
        "postcompletion": "<div>...HTML representing a Moodle form object...</div>"
    }
}}
{{< mod_response/response}}
{{$content}}
    <div class="user-response responsetype-text" data-response="{{{response_id}}}">
        <div class="user-container">
            {{> responsetype_text/inlinesubmission}}
        </div>

        {{{postcompletion}}}
    </div>
{{/content}}
{{/ mod_response/response}}
{{#js}}
require(['mod_response/precompletion', 'mod_response/postcompletion'], function(precompletion, postcompletion) {
    precompletion();
    postcompletion.init('#mod_response_form_{{{response_id}}}') 
});
{{/js}}