<div class="activity-title responsetype-text" data-response="{{response_id}}">
    <h4>{{{icon}}} {{{activity_title}}}</h4>

    <h5>{{{activity_question}}}</h5>

    <div class="row-fluid">
        <div class="span8">
            <div class="user-wrote">{{# str }} youwrote, responsetype_text {{/ str }}</div>
            <div class="user-answer">
                {{{user_response}}}
            </div>

            <div class="clearfix"></div>
            <div class="context-link text-right">
                <span class="time-completed">{{{timemodified_date}}}</span>
                <a class="btn btn-default" href="{{{context_link}}}">{{# str }} viewincontext, response {{/ str }}</a>
            </div>
        </div>
    </div>
</div>