/* Styles for the student completing the activity. */
.path-mod-response .responsetype-poll.has-form .user-choice,
.modtype_response .responsetype-poll.has-form .user-choice {
    font-weight: 600;
}

.path-mod-response .activity.modtype_response .responsetype-poll.has-form .maximumwordsprompt,
.modtype_response .activity.modtype_response .responsetype-poll.has-form .maximumwordsprompt {
    margin: 0;
    padding: 0;
}
.path-mod-response .user-response .form-group[data-groupname^="poll_choices"] .form-inline,
.modtype_response .user-response .form-group[data-groupname^="poll_choices"] .form-inline {
    flex: 0 0 100%;
    width: 100%;
    display: block;
}
.path-mod-response .user-response .form-group[data-groupname^="poll_choices"] label,
.modtype_response .user-response .form-group[data-groupname^="poll_choices"] label {
    align-items: normal;
    justify-content: left;
}
.path-mod-response .user-response.responsetype-poll .mform > .form-group,
.modtype_response .user-response.responsetype-poll .mform > .form-group {
    margin-left: 0;
}
.path-mod-response .user-response.responsetype-poll .mform .form-inline .form-check-input,
.modtype_response .user-response.responsetype-poll .mform .form-inline .form-check-input {
    margin-top: 4px;
    margin-right: 5px;
}
.path-mod-response .user-response.responsetype-poll .mform .femptylabel .col-md-4,
.modtype_response .user-response.responsetype-poll .mform .femptylabel .col-md-4 {
    flex: 0 0 0%;
    max-width: 0;
}
.path-mod-response .user-response.responsetype-poll .mform .femptylabel .col-md-8,
.modtype_response .user-response.responsetype-poll .mform .femptylabel .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Styles for showing the answers to students. */
.path-mod-response .user-response.responsetype-poll .col-sm-1.text-center,
.modtype_response .user-response.responsetype-poll .col-sm-1.text-center {
    min-width: 100px;
    margin-bottom: 20px;
}
.path-mod-response .user-response.responsetype-poll .user-answer,
.modtype_response .user-response.responsetype-poll .user-answer {
    display:inline;
    font-weight: 600;
}
.path-mod-response .user-response.responsetype-poll .user-reflection, .activity-course .responsetype-poll .user-reflection,
.modtype_response .user-response.responsetype-poll .user-reflection, .activity-course .responsetype-poll .user-reflection {
    display: block;
}

.path-mod-response .user-response.responsetype-poll .response-time,
.modtype_response .user-response.responsetype-poll .response-time {
    clear:both;
    font-size: 0.85em;
    font-style: italic;
    text-align:right;
    margin-top:15px;
    margin-bottom:15px;
}

/* Styles for the overall summary. */
.path-mod-response .activity-course .responsetype-poll .user-wrote,
.modtype_response .activity-course .responsetype-poll .user-wrote {
    float:left;
    width: 100%;
}
.path-mod-response .activity-course .responsetype-poll .user-answer,
.modtype_response .activity-course .responsetype-poll .user-answer {
    display:inline;
    font-weight: 600;
}

.path-mod-response .activity-title.responsetype-poll .row:nth-of-type(2),
.modtype_response .activity-title.responsetype-poll .row:nth-of-type(2) {
    margin-top: 40px;
}
.path-mod-response .user-response.responsetype-poll .user-wrapper,
.modtype_response .user-response.responsetype-poll .user-wrapper {
    background: #fff;
    padding: 10px 10px 0;
    margin-bottom: 15px;
}
.path-mod-response .user-response.responsetype-poll .aggregate,
.modtype_response .user-response.responsetype-poll .aggregate {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.path-mod-response .user-response.responsetype-poll .aggregate-container canvas,
.modtype_response .user-response.responsetype-poll .aggregate-container canvas {
    height: 1px;
}

/* Styles for the teacher summary. */
.path-mod-response .view-all.responsetype-poll .view-all-response .user-wrote,
.modtype_response .view-all.responsetype-poll .view-all-response .user-wrote {
    float: left;
}
.path-mod-response .view-all.responsetype-poll .view-all-response .user-answer,
.modtype_response .view-all.responsetype-poll .view-all-response .user-answer {
    display:inline;
    font-weight: 600;
}
.path-mod-response .view-all #viewall_chart,
.modtype_response .view-all #viewall_chart {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 10%;
    width: 80%;
    height: 250px;
}
