/* Styles for the student completing the activity. */
.responsetype-poll.has-form .user-choice {
    font-weight: 600;
}

.activity.modtype_response .responsetype-poll.has-form .maximumwordsprompt {
    margin: 0;
    padding: 0;
}
.user-response .form-group[data-groupname^="poll_choices"] .form-inline {
    flex: 0 0 100%;
    width: 100%;
    display: block;
}
.user-response .form-group[data-groupname^="poll_choices"] label {
    align-items: normal;
    justify-content: left;
}
.user-response.responsetype-poll .mform > .form-group {
    margin-left: 0;
}
.user-response.responsetype-poll .mform .form-inline .form-check-input {
    margin-top: 4px;
    margin-right: 5px;
}
.user-response.responsetype-poll .mform .femptylabel .col-md-3 {
    flex: 0 0 0%;
    max-width: 0;
}
.user-response.responsetype-poll .mform .femptylabel .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Styles for showing the answers to students. */
.user-response.responsetype-poll .user-profile {
    float:left;
    margin-right:20px;
}
.user-response.responsetype-poll .user-wrote {
    float:left;
}
.user-response.responsetype-poll .user-answer {
    display:inline;
    font-weight: 600;
}
.user-response.responsetype-poll .user-reflection, .activity-course .responsetype-poll .user-reflection {
    display: block;
    margin-left: 70px;
}
.user-response.responsetype-poll .user-reflection::before, .activity-course .responsetype-poll .user-reflection::before {
    content: ":";
}
.user-response.responsetype-poll .response-time {
    clear:both;
    font-size: 0.85em;
    font-style: italic;
    text-align:right;
    margin-top:15px;
    margin-bottom:15px;
}

/* Styles for the overall summary. */
.activity-course .responsetype-poll .user-wrote {
    float:left;
    width: 100%;
}
.activity-course .responsetype-poll .user-answer {
    display:inline;
    font-weight: 600;
}

.activity-title.responsetype-poll .row:nth-of-type(2) {
    margin-top: 40px;
}
.user-response.responsetype-poll .user-wrapper {
    background: #fff;
    padding: 10px 10px 0;
    margin-bottom: 15px;
}
.user-response.responsetype-poll .aggregate {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.user-response.responsetype-poll .aggregate-container canvas {
    height: 1px;
}

/* Styles for the teacher summary. */
.view-all.responsetype-poll .view-all-response .user-wrote {
    float: left;
}
.view-all.responsetype-poll .view-all-response .user-answer {
    display:inline;
    font-weight: 600;
}
.view-all.responsetype-poll .view-all-response .user-reflection,
 .view-all.responsetype-poll .view-all-response .user-reflection p:first-of-type {
    display: inline;
}
.view-all #viewall_chart {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 10%;
    width: 80%;
    height: 250px;
}
