/* Styles for showing the answers to students. */
.user-response.responsetype-text .user-profile {
    float: left;
    margin-right: 20px;
}
.user-response.responsetype-text .user-wrote {
    font-weight: bold;
    float: left;
    padding-right: 5px;
}
.user-response.responsetype-text .user-answer {
    display: inline;
}
.user-response.responsetype-text .response-time {
    clear:both;
    font-size: 0.85em;
    font-style: italic;
    text-align:right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.user-response.responsetype-text .user-answer p {
    padding-left: 70px;
}
.user-response.responsetype-text .user-answer p:first-of-type {
    margin-top: 0;
}

/* Styles for the overall summary. */
.activity-course .responsetype-text .user-wrote {
    font-weight: bold;
    float: left;
    padding-right: 5px;
}
.activity-course .responsetype-text .user-answer {
    display: inline;
}
