/* Styles for showing the answers to students. */
.path-mod-response .user-response.responsetype-text .col-sm-1.text-center,
.modtype_response .user-response.responsetype-text .col-sm-1.text-center {
    min-width: 100px;
    margin-bottom: 20px;
}
.path-mod-response .user-response.responsetype-text .user-wrote,
.modtype_response .user-response.responsetype-text .user-wrote {
    font-weight: bold;
    float: left;
    padding-right: 5px;
}
.path-mod-response .user-response.responsetype-text .user-answer,
.modtype_response .user-response.responsetype-text .user-answer {
    display: inline;
}
.path-mod-response .user-response.responsetype-text .response-time,
.modtype_response .user-response.responsetype-text .response-time {
    clear:both;
    font-size: 0.85em;
    font-style: italic;
    text-align:right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.path-mod-response .user-response.responsetype-text .user-answer p:first-of-type,
.modtype_response .user-response.responsetype-text .user-answer p:first-of-type {
    margin-top: 0;
}

/* Styles for the overall summary. */
.path-mod-response .activity-course .responsetype-text .user-wrote,
.modtype_response .activity-course .responsetype-text .user-wrote {
    font-weight: bold;
    float: left;
    padding-right: 5px;
}
.path-mod-response .activity-course .responsetype-text .user-answer,
.modtype_response .activity-course .responsetype-text .user-answer {
    display: inline;
}
