{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_response/courseinline

    The purpose of this template is to render an activity instance inside the course view.

    Classes required for JS:
    * response, on a parent of the content block
    * user-response
    * responsetype-{responsetype}
    * has-form

    Data attributes required for JS:
    * context if provided

    Context variables required for this template:
    * description - activity description if relevant
    * question - the prompt question for the activity
    * contextid - the context id for the activity (usually only in inline view)
    * form - the form object where relevant for the activity
    * responsetype - the name of the type of response, e.g. 'poll'
    * user_answer - rendered user's answer if already completed

    Example context (json):
    {
        "fullpage": true,
        "heading": "This response",
        "question": "Do you like responses?",
        "contextid": 64,
        "form": "<form>...a rendered Moodle form's HTML...</form>"
    }
}}

    {{# fullpage }}
        <section class="response-activity">
        {{# description }}
            <div id="intro" class="box generalbox py-3">
                <div class="no-overflow">{{{description}}}</div>
            </div>
        {{/ description }}
        {{# contenttext }}
            <div id="content" class="box generalbox py-3">
                <div class="no-overflow">{{{contenttext}}}</div>
            </div>
        {{/ contenttext }}
    {{/ fullpage }}

    {{^ fullpage }}
    {{#groupselector}}
        <div class="response-groupselector mb-2">{{{groupselector}}}</div>
    {{/groupselector}}
    {{#description}}
        <div class="no-overflow">{{{description}}}</div>
    {{/description}}
    {{#contenttext}}
        <div class="no-overflow">{{{contenttext}}}</div>
    {{/contenttext}}
    {{/ fullpage }}
    <div class="card response">
        <div class="card-header">
            {{{caption}}}
        </div>
        <div class="card-body">
            <div class="card-title">
                {{{question}}}
            </div>
            {{# form }}
                <div class="response" data-context="{{contextid}}">
                    <div class="user-response responsetype-{{responsetype}} has-form">
                        {{{form}}}
                        {{#can_see_all}}
                            <div class="manage-links">
                                <a href="{{{viewall_url}}}">{{# str }} viewallresponses, response{{/ str }}</a>
                            </div>
                        {{/can_see_all}}
                    </div>
                </div>
            {{/ form }}
            {{# user_answer }}
                {{{user_answer}}}
            {{/ user_answer }}
        </div>
        <div class="card-footer"></div>
    </div>

{{# form }}
{{#js}}
require(['jquery', 'mod_response/ajaxform'], function($, ajaxform) {
    ajaxform.init('div.response[data-context={{contextid}}]');
});
{{/js}}
{{/ form }}