{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_response/precompletion

    The purpose of this template is to render content for showing who has completed
    an activity instance as an incentive to those who haven't.

    Classes required for JS:
    * display-completion
    * first-x
    * plus-x-others

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * number_all - number of people who have completed the response (no groups),
       excluding any split for the '+x others'
    * people_all - array of people to show, containing:
       * picture - URL of their profile picture
       * name - name of the person who has completed the activity
       Like number_all, this is the initial block of people, not the '+x others' list
    * number_all_other - number of the people that make up the '+x others' list
    * people_all_other - people in the '+x others list', same structure as people_all
    * others_completed_string - the appropriate 'has/have completed this activity' string

    It is perfectly possible to return an empty 'number_group' and 'people_group' and only have a
    single person in people_all for when the current user is the first to complete an activity.

    Example context (json):
    {
        "number": 1,
        "people": [
            {
                "userid": 2,
                "picture": "https://your.moodle.here/pluginfile.php/.../",
                "name": "John Smith"
            }
        ]
    }
}}
<div class="display-completion profile">
    {{# number }}
        <div class="first-x">
            {{# people }}
            <img src="{{{picture}}}" alt="{{name}}" title="{{name}}">
            {{/ people }}
        </div>
        {{# number_other }}
            <div class="others hide">
                {{# people_other }}
                <img src="{{{picture}}}" alt="{{name}}" title="{{name}}">
                {{/ people_other }}
            </div>
            <div class="plus-x-others">
                <button type="button" class="btn btn-default plus-x-other">{{plus_x_other_string}}</button> {{others_completed_string}}
            </div>
            <button type="button" class="btn btn-default plus-x-other hide">{{# str }} showless, form {{/ str }}</button>
        {{/ number_other }}
        {{^ number_other }}
            <div class="plus-x-others">
                {{others_completed_string}}
            </div>
        {{/ number_other}}
    {{/ number }}
</div>