{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template responsetype_poll/inlinesubmission

    The purpose of this template is to render the AJAX view of an activity's responses
    to show a user the different answers from other users.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * profile_picture - HTML for a given user's profile picture
    * profile_name - the name of the user whose response this is
    * viewing_own - boolean as to whether a user is viewing their own response
    * user_choice - the text of the poll choice given by the user
    * user_response - reflection text for a poll response, if given
    * user_response_time - the date/time the response was given

    Example context (json):
    {
        "profile_picture": "<img src=\"http://your.moodle.here/pluginfile.php/...\">",
        "viewing_own": true,
        "user_choice": "Sunny",
        "user_response": "It's sunny outside, I like it like that.",
        "profile_name": "Joe",
        "user_response_time": "01/10/17 13:28"
    }
}}
            <div class="row">
                <div class="col-sm-1 text-center">
                    <div class="user-profile">
                        {{{profile_picture}}}
                    </div>
                </div>
                <div class="col">
                    <div class="user-wrote">
                        {{# viewing_own }}
                            {{# str }} youanswered, responsetype_poll, { "answer": {{# quote}}<div class="user-answer">{{{user_choice}}}</div>{{#user_response}}:{{/user_response}}{{^user_response}}.{{/user_response}}{{/ quote}} } {{/ str }}
                        {{/ viewing_own }}
                        {{^ viewing_own }}
                            {{# str }} theyanswered, responsetype_poll, { "person": {{# quote}}{{profile_name}}{{/ quote}}, "answer": {{# quote}}<div class="user-answer">{{{user_choice}}}</div>{{#user_response}}:{{/user_response}}{{^user_response}}.{{/user_response}}{{/ quote}} } {{/ str }}
                        {{/ viewing_own }}
                    </div>
                    {{#user_response}}<div class="user-reflection">{{{user_response}}}</div>{{/user_response}}
                </div>
            </div>

            <div class="response-time">
                {{{user_response_time}}}
            </div>