                    <div class="user-profile">
                        {{{profile_picture}}}
                    </div>
                    <div class="user-wrote">
                        {{# viewing_own }}
                            {{# str }} youanswered, responsetype_poll, { "answer": {{# quote}}<div class="user-answer">{{{user_choice}}}</div>{{^user_response}}.{{/user_response}}{{/ quote}} } {{/ str }}
                        {{/ viewing_own }}
                        {{^ viewing_own }}
                            {{# str }} theyanswered, responsetype_poll, { "person": {{# quote}}{{profile_name}}{{/ quote}}, "answer": {{# quote}}<div class="user-answer">{{{user_choice}}}</div>{{^user_response}}.{{/user_response}}{{/ quote}} } {{/ str }}
                        {{/ viewing_own }}
                    </div>
                    {{#user_response}}<div class="user-reflection">: {{{user_response}}}</div>{{/user_response}}

                    <div class="response-time">
                        {{{user_response_time}}}
                    </div>