{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template responsetype_poll/viewall

    The purpose of this template is to render the summary view for a teacher of
    all responses for a specific activity.

    Classes required for JS:
    * aggregate (for chart behaviour)

    IDs required for JS:
    * viewall_chart

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * icon - the HTML for the icon indicating what type of activity it is
    * heading - the title of the activity
    * group_selector - HTML for the group selector menu as per core Moodle
    * question - the question prompt given in the activity
    * all_responses - array of responses containing:
        * profile_picture - HTML for a user's profile picture
        * first_name - first name of the student
        * last_name - last name of the student
        * choicetext - choice made by the student
        * reflection_text - reflection text of the student
        * timecompleted_datetime - date and time of completion
        * delete_link - URL to be able to delete the response if user has the capability
    * context_link - URL to the activity in context
    * aggregate - stringified JSON object containing all the chart data
    * colours - stringified JSON array of colours to use in the chart

    Example context (json):
    {
        "icon": "<img class=\"smallicon\" alt=\"\" src=\"http://your.moodle.here/theme/image.php/clean/responsetype_poll/1506688378/icon\">",
        "heading": "The weather",
        "question": "What's the weather doing today?",
        "all_responses": [
            {
                "profile_picture": "<img src=\"http://your.moodle.here/pluginfile.php/...\">",
                "first_name": "John",
                "last_name": "Smith",
                "choicetext": "Sunny.",
                "reflection_text": "It's sunny outside and it's warm for October.",
                "timecompleted_datetime": "02/10/17 10:19",
                "delete_link": "http://your.moodle.here/mod/response/deleteanswer.php?id=102&u=3"
            }
        ],
        "context_link": "http://your.moodle.here/course/view.php?id=2#module-10",
        "aggregate": "{\"all\":{\"title\":\"Answers given by all students\",\"labels\":[\"Sunny\",\"Cloudy\",\"Stormy\",\"Raining\",\"Other\"],\"data\":[0,2,0,0,0]} }",
        "colours": "[\"#f3c300\",\"#875692\",\"#f38400\",\"#a1caf1\",\"#be0032\",\"#c2b280\",\"#7f180d\",\"#008856\",\"#e68fac\",\"#0067a5\"]"
    }
}}
<section class="response-activity view-all responsetype-poll">
    <a class="btn btn-default pull-right" href="{{{context_link}}}">{{# str }} viewincontext, response {{/ str }}</a><h1>{{{icon}}} {{heading}}</h1>
    {{{group_selector}}}
    <div class="question">{{{question}}}</div>

    <div id="viewall_chart"></div>

    {{# all_responses }}
    <div class="view-all-response">
        <div class="row-fluid">
            <div class="span3 user-profile text-center">
                <div class="profile-picture">
                    {{{profile_picture}}}
                </div>
                <div class="user-name">
                    {{first_name}} {{last_name}}
                </div>
            </div>
            <div class="span9">
                <div class="user-wrote">
                    {{# str }} theyanswered, responsetype_poll, { "person": {{# quote }}{{first_name}}{{/ quote}}, "answer": {{# quote }}<div class="user-answer">{{{choicetext}}}</div>{{^reflection_text}}.{{/reflection_text}}{{/ quote }} } {{/ str }}{{#reflection_text}}<div class="user-reflection">: {{{reflection_text}}}</div>{{/reflection_text}}

                    <div class="clearfix"></div>
                </div>
                <div class="context-link text-right">
                    <span class="time-completed">{{{timecompleted_datetime}}}</span>
                </div>
            </div>
        </div>
        {{# delete_link }}
        <div class="manage-links text-right">
            <a href="{{{delete_link}}}">{{# str }} deleteresponse, response {{/ str }}</a>
        </div>
        {{/ delete_link }}
    </div>
    {{#js}}
    require(['responsetype_poll/viewall_chart'], function(viewall_chart) {
        viewall_chart({{{aggregate}}}, {{{chart_colours}}}, {{#quote}}{{# str }} selectedby, responsetype_poll {{/ str }}{{/quote}});
    });
    {{/js}}
    {{/ all_responses }}
    {{^ all_responses }}
    <div class="alert alert-warning">
        {{# str }} nocompletions, response {{/ str }}
    </div>
    {{/ all_responses }}
</section>