<section class="response-activity view-all responsetype-poll">
    <a class="btn btn-default pull-right" href="{{{context_link}}}">{{# str }} viewincontext, response {{/ str }}</a><h1>{{{icon}}} {{heading}}</h1>
    <div class="question">{{{question}}}</div>

    <div id="viewall_chart"></div>

    {{# all_responses }}
    <div class="row-fluid view-all-response">
        <div class="span3 user-profile text-center">
            <div class="profile-picture">
                {{{profile_picture}}}
            </div>
            <div class="user-name">
                {{first_name}} {{last_name}}
            </div>
        </div>
        <div class="span9">
            <div class="user-wrote">
                {{# str }} theyanswered, responsetype_poll, { "person": {{# quote }}{{first_name}}{{/ quote}}, "answer": {{# quote }}<div class="user-answer">{{{choicetext}}}</div>{{^reflection_text}}.{{/reflection_text}}{{/ quote }} } {{/ str }}{{#reflection_text}}<div class="user-reflection">: {{{reflection_text}}}</div>{{/reflection_text}}

                <div class="clearfix"></div>
            </div>
            <div class="context-link text-right">
                <span class="time-completed">{{{timecompleted_datetime}}}</span>
            </div>
        </div>
    </div>
    {{#js}}
    require(['responsetype_poll/viewall_chart'], function(viewall_chart) {
        viewall_chart({{{aggregate}}}, {{{chart_colours}}}, {{#quote}}{{# str }} selectedby, responsetype_poll {{/ str }}{{/quote}});
    });
    {{/js}}
    {{/ all_responses }}
    {{^ all_responses }}
    <div class="alert alert-warning">
        {{# str }} nocompletions, response {{/ str }}
    </div>
    {{/ all_responses }}
</section>